<div id="add_user_modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <%= form_tag("team_invitations", :method => :post, class: "col s12 add_user_form") do %>
        <div class="row">
          <div class="col s12">
            <h4>Add a User</h4>
          </div>
          <div class="input-field col s12">
            <%= hidden_field(:team_invitation, :team_id) %>
            <%= text_field(:team_invitation, :name) %>
            <%= label_tag(:name, "User Name") %>
          </div>
          <div class="input-field col s12">
            <%= text_field(:team_invitation, :email) %>
            <%= label_tag(:email, "User Email") %>
          </div>
          <%= submit_tag("Add User", class: "btn right") %>
        </div>
      <% end %>
    </div>
  </div>
</div>